<div class="card cardBox">
  <div class="row">
    <div class="col-md-3">
      <img
        class="dish-photo"
        src="../../../assets/images/cuisines/chinese.jpg"
      />
    </div>
    <div class="dish-info col-md-3">
      <h3>Special dish</h3>
      <p>Dish name</p>
    </div>
    <div class="col-md-3">
      <p>$2.99</p>
    </div>
    <div class="col-md-3">
      <h3>Quantity</h3>
      <ng-number-picker></ng-number-picker>
      <h3>Total:</h3>
      <p>$5.98</p>
    </div>
  </div>
</div>
