@import "src/styles";

.order-box {
  background: hsl(0, 0%, 96%);
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 30px auto 30px auto;
  text-align: center;
  width: 900px;
  padding: 20px 20px 20px 20px;
}
